*.db
*.cache
*.iobj
*.ipdb
*.ilk
*.pdb
*.obj
*.tmp
*.iml
*.mp4
*.exp
local.properties
app.exe
viry3d.lib
build
.vs
.gradle
.idea
Debug
Release
AppScene
unity/Library
unity/Temp
export out
export out.meta
.DS_Store
soft-gles2.dll
soft-gles2.exp
soft-gles2.lib
test.dll
test.exp
test.lib
